/* Padrão */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #303030;
}

.flex {
  display: flex;

  &.wrap {
    flex-flow: row wrap;
  }

  &.col {
    flex-flow: column;

    &.wrap {
      flex-flow: column wrap;
    }
  }
}

/* Carrossel */

section {
  padding: 6.1rem;
  justify-content: center;
}

.carrossel {
  position: relative;
  max-width: 100rem; /* = 1000px */

  & .container {
    overflow: hidden;
  }

  & .imagens {
    gap: 0.82rem;
    width: max-content;

    & .imagem {
      position: relative;
      /* (1000px - (2 * 8.2px)) / 3 */
      /* (100vw - (2 * 8.2px)) / 3 */
      width: min(
        calc(calc(100rem - calc(2 * 0.82rem)) / 3),
        calc(calc(100vw - calc(2 * 0.82rem)) / 3)
      );
      align-items: center;
      overflow: hidden;
      justify-content: center;
      aspect-ratio: 1/1;
      border-radius: 1.5rem;

      &.emFoco::after {
        background-color: transparent;
        backdrop-filter: none;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(2px);
      }

      & img {
        height: 100%;
      }
    }
  }

  & .botao {
    position: absolute;
    background-color: #303030;
    color: white;
    border-radius: 0.8rem;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 50%;
    cursor: pointer;
    box-shadow: 0 0 0.4 rgba(0, 0, 0, 0.2);

    &.esquerdo {
      transform: translate(-50%, -50%);
    }

    &.direito {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}
